@import "tailwindcss";
/* globals.css */
.section {
  padding-top: 5rem;   /* 80px */
  padding-bottom: 5rem;
}
@keyframes slideInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeQuote {
  0% { opacity: 1; }
  20% { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}
html {
  scroll-behavior: smooth;
}